# Model files — too large for git
*.gguf
*.bin
*.safetensors
checkpoints/
merged-model/
lora-adapter/
data/
unsloth_compiled_cache

# Python
__pycache__/
*.pyc
*.pyo
.env

# Conda / venv
env/
venv/

# Weights & Biases
wandb/

# VS Code
.vscode/

# Logs
logs/
*.log

codellm-fp16.gguf
codellm-Q4_K_M.gguf
codellm-Q8_0.gguf
